.movies-cards {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movies-cards__list {
  width: 100%;
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  display: grid;
  gap: 40px 30px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}
/* .movies-cards__caption {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

} */

@media screen and (min-width: 767px) {
  .movies-cards {
    margin-top: 70px;
  }
  .movies-cards__list{
    row-gap: 47px;
    grid-template-columns: repeat(auto-fit, 340px);
  }
}
@media screen and (min-width: 1024px) {
  .movies-cards__list{
    margin-bottom: 26px;
    row-gap: 60px;
    grid-template-columns: repeat(auto-fit, 360px);
  }
}
@media screen and (min-width: 1200px) {
}
