.portfolio {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.portfolio__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
}
.portfolio__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 40px;
  display: grid;
}
.portfolio__item {
  margin-bottom: 20px;
}
.portfolio__item:last-child {
  margin-bottom: 0;
}
.portfolio__item::after {
  content: '';
  margin-top: 19px;
  display: block;
  height: 1px;
  background: #424242;
}
.portfolio__item:last-child::after {
  display: none;
}
.portfolio__item-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: all .2s linear;
}
.portfolio__item-link:hover {
  opacity: .7;
}
.portfolio__item-title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}
.portfolio__item-icon {
  margin: 0;
  margin-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 767px) {
  .portfolio {
    margin-top: 90px;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 20px;
  }
  .portfolio__list {
    margin-top: 50px;
  }
  .portfolio__item-title {
    font-size: 28px;
    line-height: 50px;
  }
  .portfolio__item-icon {
    font-size: 28px;
    line-height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    margin-top: 100px;
  }
  .portfolio__item-title {
    font-size: 30px;
  }
  .portfolio__item-icon {
    font-size: 30px;
  }
}
