.menu {
  display: flex;
  align-items: center;
}
.menu__background {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  transition: all .2s linear;
}
.menu__background_opened {
  opacity: 1;
}

.menu__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202020;
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
  transition: .5s;
  transition-delay: .1s;
}
.menu__container_opened {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0s;
}
.menu__list {
  flex-shrink: 0;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 144px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.menu__list_type_main {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  column-gap: 14px;
}
.menu__item {
  padding-bottom: 24px;
  width: fit-content;
}
.menu__item_type_main {
  padding: 0;
  transition: all .2s linear;
}
.menu__item_type_main:hover {
  opacity: .7;
}
.menu__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: all .2s linear;
}
.menu__link_type_main {
  font-size: 10px;
  line-height: 16px;
}

.menu__link::after {
  content: '';
  display: none;
  background: #fff;
  margin-top: 7px;
  width: 100%;
  height: 2px;
}
.menu__link_active::after {
  display: block;
}

@media screen and (min-width: 767px) {
  .menu__container {
    width: 520px;
  }
  .menu__list_type_main {
    column-gap: 30px;
  }
  .menu__item_type_main {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__background {
    display: none;
  }
  .menu__container {
    width: 100%;
    position: initial;
    transform: none;
    transition: none;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    opacity: 1;
  }
  .menu__list {
    width: initial;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    column-gap: 16px;
    margin-top: 0;
  }
  .menu__list_type_main {
    column-gap: 30px;
  }
  .menu__item {
    padding-bottom: 0;
  }
  .menu__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .menu__link:hover {
    opacity: .7;
  }
  .menu__link_type_main {
    font-size: 12px;
    line-height: 16px;
  }
  .menu__link_active {
    font-weight: 500;
  }
  .menu__link_active::after {
    display: none;
  }
}
