.search {
  margin: 60px 10px 10px;
}
.search::after {
  content: '';
  margin: 44px 4px 0;
  display: block;
  height: 1px;
  background: rgba(170, 170, 170, .2);
}
.search-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px 41px;
}
.search-form__main {
  padding: 7px;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(170, 170, 170, .2);
  box-sizing: border-box;
  border-radius: 50px;
}
.search-form__input {
  margin: 0 9px;
  padding: 0;
  flex: 1 0 auto;
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}
.search-form__input:focus {
  outline: none;
}
.search-form__input::placeholder {
  color: #8B8B8B;
}
.search-form__input::-webkit-input-placeholder {
  color: #8B8B8B;
}
.search-form__input::-moz-placeholder {
  color: #8B8B8B;
}
.search-form__input::-ms-input-placeholder {
  color: #8B8B8B;
}

@media screen and (min-width: 768px) {
  .search {
    margin-left: 30px;
    margin-right: 30px;
  }
  .search::after {
    margin: 57px 0 0;
  }
  .search-form {
    column-gap: 38px;
  }
  .search-form__input {
    margin: 0 11px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .search {
    margin-top: 80px;
  }
  .search::after {
    margin-top: 83px;
  }
  .search-form {
    grid-auto-flow: column;
  }
  .search-form__input {
    margin: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .search {
    margin-left: 0;
    margin-right: 0;
  }
}
